{% extends 'store/adminpanel.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block item %}
<h1 style="text-align:center; font-size:4rem; margin:-60px 0 60px 0"><strong style="color:rgb(172, 32, 55)">Welcome!</strong> Admin</h1>
	
<div class="rowy ">
  <div class="card">
    
    <div class="content">
      <h2>{{t_cat}}</h2>
      <p class="tagline">Categories</p>
    </div>
    <i class="fas fa-prescription-bottle"></i>
  </div>
  <div class="card">
    <div class="content">
      <h2>{{t_item}}</h2>
      <p class="tagline">Items</p>
    </div>
    <i class="fas fa-syringe"></i>
  </div>
  <div class="card">
   
    <div class="content">
      <h2>{{t_user}}</h2>
      <p class="tagline">Active Users</p>
    </div>
    <i class="fas fa-user-tie"></i>
  </div>
  
 <div class="card">
  	
    <div class="content">
      <h2>{{t_activengo}}</h2>
      <p class="tagline">Active NGOS</p>
    </div>
       <i class="fas fa-home"></i>
  </div>

</div>

<div class="row center">
    <div class="col-lg-2 center mb-4 btn-grad" style=" border-radius:10px; width:20% !important; text-align: center;" >
    <button type="button" style="border-style:none; background-color: transparent; margin: 90px 0 15px 0;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <svg xmlns="http://www.w3.org/2000/svg"  id="plus" width="73" height="73" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
           </svg>      
         </button>
         <h4 style="color: white!important;">Add Category</h4>
    </div>
    {% for product in product_categories %}

    <div class="col-lg-2 mb-4" style="width:20%">
      <a  href="{% url 'adminitems' product.id %}" style="width:100%; text-decoration: none;">
		
      <img class="thumbnail" src="{{ product.get_imageURL }}">
      <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
  
        <a class="btn btn-outline-dark" style="border-radius: 5px; margin-left:5px;width:3.5rem !important;" href="{% url 'admineditcat' product.id %}">Edit</a>
        
        <a class="btn btn-grad" style="border-radius: 5px; width:4.2rem !important; display: inline-block !important;" href="{% url 'del' 0 product.id 'C' %}">Delete</a>
       
      </div>
      </a>
    </div>

    {% endfor %}
</div>
 <!-- ----Add category-- -->
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ADD NEW CATEGORY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" >
    
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" id="exampleCheck1" name="NGO" value="T">
                    <label class="form-check-label" for="exampleCheck1">Available for NGO</label>
                  </div>
            
                <hr>
                <input type="submit" style="border:none;"class="btn btn-primary mb-2 btn-grad" name="submit" , value='Submit'>
            </form>
        </div>
      </div>
    </div>
  </div>

  
<style>
  .rowy {
   margin:-25px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

.card {
  width: calc(22% - 10px);
  height: 140px;
  padding: 15px;  
  border-radius: 10px;
  box-shadow:0px 2px 5px 7px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
}

.card i {
  font-size: 2.5rem;
  /* margin-right: 1rem; */
  color: #343434;
  padding: 12px;
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: .5rem;
}

.card h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #D31027;
}

.tagline {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color:grey;
}
</style>

{% endblock item %}